{% extends "loggedin/layout.html" %}
{% block content %}
  <!-- TODO: Add functionability to group creation -->
  <div class="mx-4 2xl:max-w-7xl 2xl:mx-auto px-4 py-8 mt-6 rounded-xl">
    <!-- top bar -->
    <div class="flex items-center pb-3 border-b border-gray-300">
      <h1 class="text-3xl font-bold">Groups</h1>
      <button
        class="btn-primary shadow-black  px-4 ml-auto mr-2 h-10 whitespace-nowrap cursor-pointer"
        onclick="return loadCreateGroup()"
      >
        Create Group
      </button>
    </div>

    <!-- Adding groups to the page -->
    <div class="mt-6">
      <ul id="groups-list">
        <!-- FFilter through groups table to find group with current user in done in app pkg?-->
        <!-- Displays groups when page is first loaded  -->
        {% for group in groups %}
          <li
            id="group-{{ group.id }}"
            class="py-4 flex flex-col sm:flex-row sm:items-center sm:justify-between 
                bg-white border border-gray-300 rounded-2xl mb-2 px-3 shadow-xl
                  hover:ring-1 hover:shadow hover:border-gray-400 hover:border-2 hover:cursor-pointer ring-white transition duration-200"
          >
            <div class="flex items-center">
              <div class="ml-4">
                <!-- Group Name -->
                <p class="text-xl font-medium">{{ group.group_name }}</p>

                <!-- Member Avatars -->
                <div class="flex items-center my-2 group-avatars">
                  {% for user in group.members %}
                    <img
                      src="{{ user.avatar(200) }}"
                      class="w-8 h-8 rounded-full -ml-2 first:ml-0 border-2 border-dark"
                      alt="{{ user.username }}'s profile picture"
                      title="{{ user.username }}"
                    />
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- Buttons -->
            <button
              class="btn-plain mt-2 px-3 py-2 sm:ml-auto bg-red-300 text-nearwhite rounded-lg hover:bg-red-400"
              onclick="leaveGroup('{{ group.id }}')"
            >
              <i class="fas fa-sign-out-alt"></i>
              Leave
            </button>
            <button
              class="btn-plain mt-2 px-3 py-2 bg-blue-300 text-nearwhite rounded-lg hover:bg-blue-400"
              onclick="openSchedule()"
            >
              <i class="fas fa-calendar-alt"></i>
              Schedule
            </button>
            <button
              class="btn-plain bg-dark rounded-lg sm:rounded-full px-4 py-3 hover:bg-gray-800"
              onclick="openGroupDetail(); getGroupId('{{ group.id }}'); loadGroupMembers()"
            >
              <i class="fas fa-info text-nearwhite text-center"></i>
              <div class="text-nearwhite sm:hidden">Details</div>
            </button>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Create Group Modal -->
  <el-dialog>
    <dialog
      id="create-group"
      class="fixed mx-auto size-auto max-h-none max-w-none overflow-y-auto sm:my-8 sm:w-full sm:max-w-2xl bg-transparent backdrop:bg-transparent"
    >
      <el-dialog-backdrop
        class="fixed bg-gray-900/50 inset-0 transition-opacity data-closed:opacity-0"
      ></el-dialog-backdrop>

      <div
        class="flex min-h-full items-center justify-center p-4 text-center focus:outline-none sm:p-0"
      >
        <el-dialog-panel
          class="
            relative transform overflow-hidden justify-center items-center rounded-lg 
            bg-gray-200 text-left shadow-xl outline -outline-offset-1 outline-white/10 
            transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in 
            sm:my-8 sm:w-full sm:max-w-2xl data-closed:sm:translate-y-0 data-closed:sm:scale-95"
        >
          <div
            class="bg-gray-200 px-4 pt-5 pb-4 sm:p-6 sm:pb-4 min-h-100 items-center"
          >
            <!-- Header -->
            <div class="sm:flex sm:items-start">
              <!-- Group Icon -->
              <div
                class="mx-auto flex h-12 w-12 items-center justify-center rounded-full bg-nearwhite sm:mx-0 sm:h-10 sm:w-10"
              >
                <i class="fa-solid fa-people-group" style="color: #4741f7;"></i>
              </div>

              <!-- Title -->
              <div
                class="mt-3 text-center w-full sm:mt-0 sm:ml-4 sm: mr-12 sm:text-left"
              >
                <h3
                  class="text-lg font-medium leading-6 text-gray-900"
                  id="modal-title"
                >
                  Create a Group
                </h3>
                <div class="mt-2">
                  <!-- Subtitle -->
                  <p class="text-sm text-gray-500">Name your new group</p>
                  <div
                    id="create-group-name"
                    class="mt-3 flex flex-col sm:flex-row w-full gap-2"
                  >
                    <!-- Input -->
                    <div id="group-input-wrapper" class="flex-1">
                      <input
                        id="group-name-input"
                        type="text"
                        class="
                            w-full rounded-md border border-gray-300 px-4 py-3 text-base
                            focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                        placeholder="My Chill Group"
                        autocomplete="off"
                      />
                    </div>
                    <button
                      id="group-name-next"
                      type="button"
                      class="
                        btn-plain inline-flex sm:w-12 m-0 justify-center cursor-pointer shrink-0 rounded-md border border-transparent 
                        bg-primary px-4 text-sm font-medium text-white shadow-sm hover:bg-blue-800 
                        focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                      onclick="return loadSelectFriends()"
                    >
                      <i
                        class="fa-solid fa-angle-right"
                        style="color: rgb(255, 255, 255);"
                      ></i>
                      <div
                        class="flex justify-center items-center text-nearwhite text-center sm:hidden"
                      >
                        Next
                      </div>
                    </button>
                  </div>
                  <!-- Error Message -->
                  <div id="group-error-div">
                    <p id="group-error-message"></p>
                  </div>
                </div>
                <div
                  class="w-full px-4 py-3 sm:flex sm:justify-end sm:px-6"
                ></div>
                <div class="flex justify-end">
                  <button
                    type="button"
                    class="
                        cursor-pointer mt-3 mx-0 sm:flex sm:justify-end sm:px-6 inline-flex justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm
                        hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:mt-0 w-auto sm:text-sm"
                    onclick="return closeLoadCreateGroup()"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </el-dialog-panel>
      </div>
    </dialog>
  </el-dialog>

  <!-- Selecting Friends Modal (after group name is picked) -->
  <el-dialog>
    <dialog
      id="select-friend"
      class="fixed mx-auto size-auto max-h-none max-w-none overflow-y-auto sm:my-8 sm:w-full sm:max-w-2xl bg-transparent"
    >
      <el-dialog-backdrop
        class="fixed bg-gray-900/50 inset-0 transition-opacity data-closed:opacity-0"
      ></el-dialog-backdrop>

      <div class="flex min-h-full items-center justify-center p-4 sm:p-0">
        <el-dialog-panel
          class="
              relative transform overflow-hidden justify-center items-center rounded-lg
              bg-gray-200 text-left shadow-xl outline -outline-offset-1 outline-white/10
              transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in
              sm:my-8 sm:w-full sm:max-w-2xl data-closed:sm:translate-y-0 data-closed:sm:scale-95"
        >
          <div
            class="bg-gray-200 px-4 pt-5 pb-4 sm:p-6 sm:pb-4 min-h-100 items-center"
          >
            <div class="sm:flex sm:items-start">
              <div
                class="mx-auto flex h-12 w-12 items-center justify-center rounded-full bg-nearwhite sm:mx-0 sm:h-10 sm:w-10"
              >
                <i class="fa-solid fa-people-group" style="color: #4741f7;"></i>
              </div>
              <div
                class="mt-3 sm:mr-12 text-center flex-1 w-full sm:mt-0 sm:ml-4 sm:text-left"
              >
                <h3
                  class="text-lg font-medium leading-6 text-gray-900"
                  id="friend-modal-title"
                >
                  Create a Group
                </h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">
                    Add your friends to <span id="gname"></span>!
                  </p>
                  <div class="mt-3 flex w-full items-stretch gap-2">
                    <input
                      id="friend-search-input"
                      type="text"
                      class="flex-1 rounded-md border border-gray-300 px-4 py-3 text-base focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                      placeholder="Friend's Username/Email"
                      autocomplete="off"
                    />
                    <button
                      id="select-friends-search"
                      type="button"
                      onclick="loadFriends()"
                      class="btn-plain cursor-pointer shrink-0 rounded-md border border-transparent bg-primary px-4 text-sm font-medium text-white shadow-sm hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                    >
                      Search
                    </button>
                  </div>
                </div>
                <div id="friend-search-results" class="mt-4 hidden">
                  <p class="text-sm text-gray-500">Search Results:</p>
                  <ul id="friend-search-list" class="mt-2"></ul>
                </div>

                <!-- Error Message -->
                <div id="add-member-error-div" class="py-4">
                  <p id="add-member-error-message"></p>
                </div>
                <div class="py-3 sm:flex sm:flex-row-reverse">
                  <button
                    id="friend-search-submit"
                    type="button"
                    class="cursor-pointer mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-primary px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:mt-0 sm:w-auto sm:text-sm"
                    onclick="return window.addMemberMode ? submitAddMember() : submitGroupCreation()"
                  >
                    Complete
                  </button>
                  <button
                    type="button"
                    class="cursor-pointer mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:mt-0 sm:w-auto sm:text-sm"
                    onclick="return closeLoadSelectFriends()"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </el-dialog-panel>
      </div>
    </dialog>
  </el-dialog>

  <!-- Confirmation of Leaving Group Modal-->
  <el-dialog>
    <dialog
      id="remove-confirmation"
      class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent"
    >
      <el-dialog-backdrop
        class="fixed  bg-gray-900/50  inset-0 transition-opacity data-closed:opacity-0"
      ></el-dialog-backdrop>

      <div
        tabindex="0"
        class="flex min-h-full items-center justify-center p-4 text-center focus:outline-none sm:p-0"
      >
        <el-dialog-panel
          class="relative transform overflow-hidden rounded-lg bg-blue-900 text-left shadow-xl outline -outline-offset-1 outline-white/10 transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8 sm:w-full sm:max-w-lg data-closed:sm:translate-y-0 data-closed:sm:scale-95"
        >
          <div class=" px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div
                class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-white sm:mx-0 sm:size-10"
              >
                <i
                  class="fa-solid fa-triangle-exclamation  text-red-500 text-lg"
                ></i>
              </div>
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3
                  id="dialog-title"
                  class="text-base font-semibold text-white"
                >
                  Leave Group
                </h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-300">
                    Are you sure you want to leave this group? This action
                    cannot be undone.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="bg-blue-500/25 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6"
          >
            <button
              id="confirm-delete-btn"
              type="button"
              command="close"
              commandfor="remove-confirmation"
              class="inline-flex w-full justify-center rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white hover:bg-red-400 sm:ml-3 sm:w-auto"
              onclick="confirmLeaveGroup()"
            >
              Leave Group
            </button>
            <button
              id="cancel-delete-btn"
              type="button"
              command="close"
              commandfor="remove-confirmation"
              class="mt-3 inline-flex w-full justify-center rounded-md bg-white/10 px-3 py-2 text-sm font-semibold text-white inset-ring inset-ring-white/5 hover:bg-white/20 sm:mt-0 sm:w-auto"
            >
              Cancel
            </button>
          </div>
        </el-dialog-panel>
      </div>
    </dialog>
  </el-dialog>

  <!-- Group Details Modal -->
  <el-dialog>
    <dialog
      id="group-details"
      class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent border-none p-0"
    >
      <el-dialog-backdrop
        class="fixed  bg-gray-900/50  inset-0 transition-opacity data-closed:opacity-0"
      ></el-dialog-backdrop>

      <div
        class="flex flex-col min-h-full w-full overflow-hidden overflow-y-auto justify-center p-4 text-center focus:outline-none sm:items-center sm:p-0"
      >
        <el-dialog-panel
          class="relative transform overflow-hidden overflow-y-auto justify-center items-center rounded-lg bg-gray-200 text-left shadow-xl outline -outline-offset-1 outline-white/10 transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8 sm:w-full sm:max-w-lg data-closed:sm:translate-y-0 data-closed:sm:scale-95"
        >
          <!-- Header -->
          <div class="p-6 border-b border-dark bg-gray-400">
            <div class="flex items-center justify-between">
              <div>
                <h2
                  id="group-detail-gname"
                  class="h2 text-2xl font-bold m-0"
                ></h2>
              </div>
              <button
                onclick="closeGroupDetail()"
                class="w-10 h-10 rounded-full transition-smooth flex items-center justify-center"
              >
                <i
                  class="fas fa-times text-xl cursor-pointer hover:bg-red-500 hover:p-2 hover:text-nearwhite"
                ></i>
              </button>
            </div>
          </div>

          <!-- Body -->
          <div class="flex-1 overflow-y-auto custom-scrollbar">
            <div class="p-6">
              <!-- Group Members -->
              <div id="group-members">
                <div class="flex items-center justify-between mb-4">
                  <h3 class="text-xl font-bold">
                    Group Members
                    <span id="member-count" class="text-primary"></span>
                  </h3>

                  <!-- Try to reuse already existing friend modal? -->
                  <button
                    onclick="openAddMemberModal()"
                    class="btn-primary px-4 py-2 text-sm text-center"
                  >
                    <i class="fas fa-user-plus"></i>
                  </button>
                </div>

                <!-- Friends listed -->
                <div id="add-members-list" class="space-y-3"></div>
              </div>
            </div>
          </div>
        </el-dialog-panel>
      </div>
    </dialog>
  </el-dialog>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/groups.js') }}"></script>

  <!-- Tailwind Elements -->
  <script
    src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1"
    type="module"
  ></script>
{% endblock %}
