{% extends "loggedin/layout.html" %} {% block content %}
<div class="max-w-2xl mx-auto p-8">
  <h1 class="text-2xl font-bold text-gray-900 mb-8">Settings</h1>

  <section class="mb-8">
    <div class="flex">
      <h2 class="text-lg font-semibold text-gray-800 mb-1">Import iCal</h2>
      <div class="ml-auto">
        <button
          id="sync-button"
          class="hidden bg-blue-600 text-white ml-auto py-2 px-2 rounded-md text-sm hover:bg-blue-700"
          type="button"
          title="Sync Existing Calenders"
          onclick="syncCal()"
        >
          <i class="fa-solid fa-rotate"></i> Sync
        </button>
        <p class="text-sm text-gray-500">
          Last sync
          <span id="last-synced"
            >{{ last_synced if last_synced == 'Never' else
            last_synced.strftime("%d/%m/%y") }}</span
          >
        </p>
      </div>
    </div>
    <form method="post" action="/settings">
      {{ form.hidden_tag() }}
      <p class="text-sm text-gray-500 mb-3">
        Paste your iCal feed URL to import events.
      </p>

      <div class="flex">
        {{ form.ical_url( id="ical_url", placeholder="https://...",
        class="flex-1 border border-gray-300 rounded-md px-3 py-2 text-sm" ) }}
        <div class="flex ml-4">
          {{ form.submit(class="ml-4 bg-green-600 text-white py-2 px-4
          rounded-md text-sm hover:bg-green-700") }}
        </div>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %} {% for
      category, message in messages %}
      <p
        class="{{ 'text-green-600' if category == 'success' else 'text-red-600' }} text-sm"
      >
        {{ message }}
      </p>
      {% endfor %} {% endwith %}
    </form>
  </section>
</div>

{% endblock %} {% block scripts %}
<script>
  // TODO: This will get replaced with a user session deteciton system later
  // Jquery  for adding user options to the dropdown (replace with actual user data)
  function addUserOptions(user) {
    const a = document.createElement("a");
    a.href = "#";
    a.className =
      "block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:text-gray-900 focus:outline-hidden";
    a.textContent = user.username;
    a.dataset.userId = user.id; // Store user id in data attribute for later use
    $("#dropdown-menu-1").append(a);
  }
  // Get Users
  async function getUsers() {
    const res = await fetch("/api/users");
    const users = await res.json();
    users.forEach(addUserOptions);
  }
  getUsers();

  let selectedUserId = null;
  // On Selection Of User From Dropdown, set selectedUserId
  $(document).on("click", "#dropdown-menu-1 a", function () {
    // Set selected user ID based on clicked option
    selectedUserId = $(this).data("userId");
    // Update dropdown button text to show selected user
    $("#menu-button-1").html(
      $(this).text() + ' <i class="py-1 pl-2 fas fa-chevron-down text-xs"></i>',
    );
    $('[name="user_id"]').val(selectedUserId);
    checkForExistingCalendars(); // Check if the selected user has existing calendars to determine whether to show sync button
  });

  function checkForExistingCalendars() {
    /*
    Check if a selected user has any calender in the system. If they do
    show the sync button with the number of existing calenders, 
    if not hide the sync button since there is nothing to sync with
    */
    if (!selectedUserId) {
      $("#sync-button").addClass("hidden");
      return;
    }
    // Check if the user has any calendars
    fetch(`/api/calendars/`)
      .then((res) => {
        if (!res.ok) return;
        return res.json();
      })
      .then((calendars) => {
        if (!calendars) return;
        if (calendars.length > 0) {
          $("#sync-button").removeClass("hidden");
          $("#sync-button").html(
            `<i class="fa-solid fa-rotate"></i> Sync (${calendars.length}) cals`,
          );
        } else {
          $("#sync-button").addClass("hidden");
        }
      });
  }
  checkForExistingCalendars();

  function showMsg(msg, isSuccess) {
    const msgEl = document.createElement("p");
    msgEl.className = `${isSuccess ? "text-green-600" : "text-red-600"} text-sm mt-2`;
    msgEl.textContent = msg;
    document.querySelector("form").appendChild(msgEl);
    setTimeout(() => {
      msgEl.remove();
    }, 5000);
  }

  async function syncCal() {
    if (!selectedUserId) {
      showMsg("Please select a user to sync the calendar for.", false);
      return;
    }
    const res = await fetch(`/api/sync-cal/${selectedUserId}`, {
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token() }}',
      },
      method: 'POST',
    });
    const data = await res.json();
    if (res.ok) {
      showMsg(
        `Successfully synced calendar. ${data.created} events created, ${data.updated} events updated.`,
        true,
      );
    } else {
      showMsg("Error: " + (data.error || "Unknown error"), false);
    }
  }
</script>
<!-- Tailwind Elements -->
<script
  src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1"
  type="module"
></script>
{% endblock %}
