@import "tailwindcss";

/* Resets default style to our style */
@layer base {
  #field-error {
    color: red;
  }
}

/* Define reusable classes */
@layer components {
  .btn-primary {
    @apply inline-flex items-center mx-1 my-1 rounded-md gap-2
              bg-primary hover:bg-primary-dark shadow-primary-dark shadow-md text-nearwhite
                py-3 px-7 text-base font-semibold cursor-pointer shrink-0;
  }

  .btn-white {
    @apply inline-flex items-center mx-1 my-1 rounded-md gap-2
              bg-nearwhite hover:bg-midgray shadow-primary-dark shadow-md text-primary 
                py-4 px-7 text-base font-semibold cursor-pointer shrink-0;
  }

  .btn-plain {
    @apply inline-flex items-center mx-1 my-1 rounded-md gap-2
              py-4 px-7 text-base font-semibold cursor-pointer shrink-0;
  }

  .input-box {
    @apply border bg-nearwhite field-sizing-fixed px-2 py-1 rounded-md
              ease-linear transition-all duration-150 focus:outline-none focus:ring-2 focus:ring-primary-light/50 shadow-lg shadow-primary-dark;
  }

  .card-form {
    @apply bg-primary/90 p-6 px-12 m-6 border-8 rounded-3xl border-primary-dark/70 drop-shadow-xl drop-shadow-black shadow;
  }

  .section-layout {
    @apply flex flex-col;
  }

  .container-loggedin {
    @apply w-full max-w-screen-2xl mx-auto px-6 lg:px-8;
  }

  .container-layout {
    @apply flex flex-col flex-wrap my-16 px-4 md:px-10 lg:px-16 w-full mx-auto max-w-7xl;
  }

  .container-spacing {
    @apply flex flex-col md:flex-row items-center justify-between py-6;
  }

  .h1 {
    @apply text-5xl font-bold mb-4;
  }

  .h2 {
    @apply text-2xl block font-semibold mb-4;
  }
}

@theme {
  --color-primary: #4741f7;
  --color-primary-light: #ecebff;
  --color-primary-dark: #2d1f9f;
  --color-dark: #686b74;
  --color-midgray: #eff0f1;
  --color-nearwhite: #fefffe;
  --color-lightgray: #f9f9f8;
}
