@import "tailwindcss";

/* Resets default style to our style */
@layer base {
  #field-error {
    color: red;
  }
}

/* Define reusable classes */
@layer components {
  .btn-primary {
    @apply inline-flex items-center mx-1 my-1 rounded-2xl gap-2
              bg-primary hover:bg-indigo-800 shadow-black text-nearwhite
                p-5 text-base font-semibold
  }

  .btn-white {
    @apply inline-flex items-center mx-1 my-1 rounded-2xl gap-2
              bg-nearwhite hover:bg-midgray shadow-black text-primary 
                p-5 text-base font-semibold
  }

  .btn-plain {
    @apply inline-flex items-center mx-1 my-1 rounded-2xl gap-2
              p-5 text-base font-semibold
  }
}

@theme {
  --color-primary: #4741f7;
  --color-primary-light: #ecebff;
  --color-dark: #686b74;
  --color-midgray: #eff0f1;
  --color-nearwhite: #fefffe;
  --color-lightgray: #f9f9f8;
}