/* This CSS file shouldn't be used and is currently in the process of moving! Don't stay tuned :) */
/* @import "tailwindcss";

@theme {
    --font-sans: "Open Sans", sans-serif;
}

@utility container {
    margin-inline: auto;
    padding-inline: 1.5rem;
}

@layer components {
    .button {
        @apply text-xl lg:text-2xl bg-fuchsia-900 text-fuchsia-100 font-bold px-16 py-2 lg:px-32 lg:py-4 rounded-lg hover:bg-fuchsia-950;
    }
    
}
    */