{% extends "loggedout/log-out-layout.html" %} {% block content %}
<!-- This page handles account deletion, in case the user accidentally somehow clicks wrong-->
<body>
    <div
    class="antialiased mx-auto bg-white flex max-w-2.5 items-center justify-center text-center">
        <div class="card-form">
            <h1 class="-m-1 text-2xl text-red-600 mx-auto font-medium text-center">
            Account Deletion
        </h1>
        <p>
            Your account has successfully been deleted.
        </p>
        </div>
</body>
{% endblock %}