{% extends "log-out-layout.html" %} {% block content %}
<main>
    <section class = "flex flex-col py-8 px-5">
        <h1 class = "text-3xl font-bold sm:block">
            Contact Us
        </h1>
        <br>
        <p class = "block">
            Currently the only way to contact us is via. the github repository for this website.
        </p>
        <br>
        <h1 class = "text-2xl block font-semibold">
            For any issues encountered or support needed, please use the official Github repo's issues tab.
        </h1>
        <div class = "py-5">
            <a class = "inline-flex items-center mx-1 my-1 rounded-2xl bg-primary hover:bg-indigo-800 shadow-black text-nearwhite
                p-5 text-1xl" 
                href = "https://github.com/stoveup/AgileWeb2026/issues">
                Issues
            </a>
        </div>
    </section>
</main>
<!-- Footer; To be used in all (logged-out) webpages -->
    <div id = "foot" class = "bg-primary">
        <div class = "flex flex-col py-24 justify-center items-center">
            <div class = "flex flex-row mx-auto">
                <div class = "px-6 max-sm:px-3">
                    <a href = "{{ url_for('contactus') }}" class = "text-nearwhite text-2xl">
                        Contact us
                    </a>
                </div>
                <div class = "px-6 max-sm:px-3">
                    <a href = "{{ url_for('faq') }}" class = "text-nearwhite text-2xl">
                        FAQ
                    </a>
                </div>
                <div class = "px-6 max-sm:px-3">
                    <a href = "https://github.com/stoveup/AgileWeb2026" class = "text-nearwhite text-2xl">
                        Github
                    </a>
                </div>
                
            </div>
            <div class = "flex pt-36">
                <span class = "text-xs text-right block text-nearwhite">
                    © Copyright UWA Agile Web 2026's 12:40pm Thursday 1st week Lab Group 
                </span>
            </div>
        </div>
    </div>
{% endblock %}