<!DOCTYPE html>
<html>
<head>
    <!-- TODO: The webpage T-T -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/output.css" rel = "stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <title>
        FAQ - CASync
    </title>
</head>
<body class = "scroll-auto">
    <header 
    class = "top-0 py-6 px-5 bg-fuchsia-900 flex text-center justify-between items-center "
    style = "position: sticky; 
            top: 0;
            z-index: 999;">
        <a href="/home">
        <h1 class="text-4xl text-fuchsia-50">
            CA<strong>Sync </strong>
         </h1>
         </a>
        <nav>
            <ul class="flex items-center gap-10">
                <li>
                    <a href = "/faq"> <h2 class = "text-2xl text-fuchsia-50 border-2 py-1 border-fuchsia-50"> FAQ </h2></a>
                </li>
                <li>
                    <a href = "/login"> <h2 class = "text-2xl text-fuchsia-50 border-2 py-1 border-fuchsia-50"> Log In </h2></a>
                </li>
            </ul>
        </nav>
     </header>
     
     <div class = "container py-6">
        <h1 class="text-6xl xl:text-7xl font-black md:block"> Frequently Asked Questions </h1>
        <br>

        <h2 class="text-5xl xl:text-6xl font-black md:block"> What is the meaning of life? </h2>
        <br>
        <p> Uhh...to use CASync B)</p>
        <br>
        <br>
        <br>
        <br>
        <h1 class="text-5xl xl:text-6xl font-black md:block"> Why is this website kinda unpolished? </h2>
        <br>
        <p> Because tailwind is awful XPXPXP</p>
        <br>
        <br>
        <br>
        <br>
        <h2 class="text-5xl xl:text-6xl font-black md:block"> Is this design permanent? </h2>
        <br>
        <p> No (someone please help with the design graphic design is not my passion)</p>
        <br>
        <br><br>
        <br>
        
     </div>

     <footer>
            <div class = "grid-cols-4 items-center-safe text-center">
                Hello! I am a footer with random text for now; I will soon have awesome text!
            </div>
    </footer>
</body>