<!DOCTYPE html>
<html>
<head>
    <!-- TODO: To finish main page, re-design, JS functionability-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/output.css" rel = "stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <title>
        CASync
    </title>
</head>
<body class = "scroll-auto">
    <!-- -->        
    <header 
    class = " top-0 py-6 px-5 bg-fuchsia-900 flex text-center justify-between items-center margin-auto"
    style = "position: sticky; 
            top: 0;
            z-index: 999;">
        <a href="/home"> 
        <h1 class="text-4xl text-fuchsia-50">
            CA<strong>Sync </strong>
         </h1>
         </a>
        <nav>
            <ul class="flex items-center gap-10">
                <li>
                    <a href = "/faq"> <h2 class = "text-2xl text-fuchsia-50 border-2 py-1 border-fuchsia-50"> FAQ </h2></a>
                </li>
                <li>
                    <a href = "/login"> <h2 class = "text-2xl text-fuchsia-50 border-2 py-1 border-fuchsia-50"> Log In </h2></a>
                </li>
            </ul>
        </nav>
     </header>
    
    <main>
        <section 
        id = "main" 
        class = "relative bg-cover min-h-96 max-h-fit text-white flex items-center justify-center text-center"
        style = "background-image: url('images/bg.jpg')">
        <div class = "absolute inset-0 z-0 bg-gray-800/40"> </div>
            <div class = "container relative z-10">
                <h1 class="text-6xl xl:text-7xl font-black md:block"> Timetable Sharing Made Easy </h1>
                <h2 class="text-3xl xl:text-4xl mb-8"> Never struggle to meet up again. </h2>
                <a href = "/register" class = "text-4xl lg:text-5xl bg-fuchsia-900 text-fuchsia-100 font-bold rounded-lg p-4 hover:bg-fuchsia-950"> Sign Up Now </a>
            </div>
        </section>

        
    </main>
    <section
        id = "about"
        class = "relative bg-cover min-h-96 flex items-center">
        <div class = "relative container z-10">
            <h1 class = "text-6xl xl:text-6xl font-black"> The Ultimate Student Sharing Timetable </h1>
            <br>
            <p class = "text-2xl"> Lorem ipsum dolor sit amet,
                 consectetur adipiscing elit. Ut rutrum sit amet turpis sed pulvinar.
                  Maecenas et pulvinar ligula. Sed facilisis lacinia bibendum. In ullamcorper orci at tellus consequat,
                   id iaculis neque sodales. Sed blandit nibh eu nunc lobortis, sit amet viverra lectus consectetur. </p>
        </div>
        </section>
    
    <section
        id = "about"
        class = "relative bg-cover min-h-96 w-60 flex items-center">
        <div class = "relative container z-10">
            <h1 class = "text-6xl xl:text-6xl font-black md-block"> The Ultimate Student Sharing Timetable </h1>
            <br>
            <p class = "text-2xl"> Lorem ipsum dolor sit amet,
                 consectetur adipiscing elit. Ut rutrum sit amet turpis sed pulvinar.
                  Maecenas et pulvinar ligula. Sed facilisis lacinia bibendum. In ullamcorper orci at tellus consequat,
                   id iaculis neque sodales. Sed blandit nibh eu nunc lobortis, sit amet viverra lectus consectetur. </p>
        </div>
        </section>
    
    <section
        id = "about"
        class = "relative bg-cover min-h-96 w-60 flex items-center">
        <div class = "relative container z-10">
            <h1 class = "text-6xl xl:text-6xl font-black md-block"> The Ultimate Student Sharing Timetable </h1>
            <br>
            <p class = "text-2xl"> Lorem ipsum dolor sit amet,
                 consectetur adipiscing elit. Ut rutrum sit amet turpis sed pulvinar.
                  Maecenas et pulvinar ligula. Sed facilisis lacinia bibendum. In ullamcorper orci at tellus consequat,
                   id iaculis neque sodales. Sed blandit nibh eu nunc lobortis, sit amet viverra lectus consectetur. </p>
        </div>
        </section>
    
        <footer>
            <div class = "grid-cols-4 items-center-safe text-center">
                Hello! I am a footer with random text for now; I will soon have awesome text!
            </div>
        </footer>
</body>
</html>