{% extends "layout.html" %} {% block content %}

<br />
<div
  class="antialiased mx-auto bg-white flex items-center justify-center text-center"
>
  <form
    id="login"
    novalidate="novalidate"
  >
    <div>
      <br />
      <br />
      <br />
      <a href="/home">
        <h1 class="items-center justify-center text-center text-4xl py-4 px-5">
          CA<strong>Sync</strong>
        </h1>
      </a>
      <br />
      <br />
      <br />
    </div>
    <div>
      <label for="user" class="text-left">Username:</label> <br />
      <input
        id="user"
        name="user"
        type="text"
        autocomplete="username"
        aria-required="true"
        aria-invalid="false"
        autofocus="autofocus"
        size="30"
        name="user"
        class="border"
      />
      <br />
      <br />
      <br />
      <label for="pw" class="text-left">Password:</label> <br />
      <input
        id="pw"
        name="pw"
        type="password"
        autocomplete="current-password"
        aria-required="true"
        aria-invalid="false"
        autofocus="autofocus"
        size="30"
        name="pw"
        required
        class="border"
      />
      <br />
      <br />
      <input type="checkbox" id="rme" name="rme" />
      <label for="rme"> Remember me </label>
      <br />
      <span id = "field-error"> </span>
      <br />
      <button
        id="log"
        type="submit"
        class="button cursor-pointer text-4xl lg:text-5xl bg-fuchsia-900 text-white font-bold rounded-lg p-4 hover:bg-fuchsia-950"
      >
        Log In
      </button>

      <br />
      <h5 class="">
        Not a member yet? Register
        <a href="/register" class="underline"> here. </a>
      </h5>
    </div>
  </form>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
