<!DOCTYPE html>
<html>
<head>
    <!-- TODO: JS functionability, re-design, Font to be changed to fit with the rest of the webpage.-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/output.css" rel = "stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <script src = "../static/js/register.js"></script>
    <title>
        Register - CASync
    </title>
</head>
<body>
    <header>
    <div class = "mx-auto">
        <br>
        <br>
        <br>
        <a href="./homepage.html"> 
        <h1 class = "flex items-center justify-center text-center text-4xl py-4 px-5"> CA<strong>Sync</strong> </h1>
        </a>
        <br>
        <br>
        <br>
    </div>
</header>
    <div class="mx-auto items-center text-center">
        <form name = "register" novalidate = "novalidate" onsubmit = "return regValidation()" method = "post">
            <legend> <h3 class = "flex items-center justify-center text-center text-3xl py-4 px-5"> Register </h1> </legend>
            <br>
            <div>
                <label for="email"> Email: </label>
                <input name = "mail" id="email" type="email" autocomplete="email" aria-required="true" 
                        aria-invalid="false" autofocus = "autofocus" size="30" name="email">
                <br>
                <br>
                <label for = "user"> Username: </label>
                <input name = "user" id="user" type="text" autocomplete="username" aria-required="true" 
                        aria-invalid="false" autofocus = "autofocus" size="30" name="user">
                <br>
                <br>
                
                <label for="pw1"> Password: </label>
                <input name = "pw1" id="pw1" type = "password" autocomplete="current-password" 
                    aria-required="true" aria-invalid="false" autofocus = "autofocus" size="30" name = "pw1">                
                <br>
                <br>
                    <label for="pw2"> Reenter Password: </label>
                <input name = "pw2" id="pw" type = "password" autocomplete="current-password"  
                    aria-required="true" aria-invalid="false" autofocus = "autofocus" size="30" name = "pw">
                <br>
                <br>
                <input type = "checkbox" id = "rme" name = "rme">
                <label for="rme"> Remember me </label>
                <br>
                <br>
                <br>
                <input id = "reg" type = "submit" class = "button" value = "Register">
            </div>
        </form>
    </div>
</body>
</html>