<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>CASync</title>
        <!-- Tailwind CSS-->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/output.css') }}"
        />
        <!-- Temporary link to output.css and js  to allow for individual work on html for now, to remove pre-pull req-->
        <link rel = "stylesheet" href="../../static/css/output.css"> 

        <!-- Icons from Liam -->
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        />

        <!-- JQuery CDN, in case anyone wants to use JQuery -->
         <script
          src="https://code.jquery.com/jquery-4.0.0.js"
          integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U="
          crossorigin="anonymous"
        ></script>

        <!-- Additional CSS goes here-->
    </head>
    <body>
        <div class="antialiased mx-auto bg-white flex items-center justify-center text-center ">
            <form id = "register" novalidate = "novalidate" class = "bg-primary p-6 m-6 border-8 rounded-3xl border-primary drop-shadow-2xl shadow text-align">
                <div>
                    <a href="{{ url_for('home') }}" class = "-m-1 text-2xl text-nearwhite mx-auto">
                    <strong>CAS</strong>ync
                </a> 
                <br>         
                <br>        
                </div>
                <legend> <h3 class = "flex items-center justify-center text-center text-xl px-5 text-nearwhite"> Register </h1> </legend>
                <br>
                <div>
                    <label for="email" class = "text-left text-nearwhite"> Email: </label> <br>
                    <input name = "mail" id="email" type="email" autocomplete="email" aria-required="true" 
                            aria-invalid="false" autofocus = "autofocus" size="30" name="email" class = "border bg-nearwhite">
                    <br>
                    <br>
                    <label for = "user" class = "text-left text-nearwhite"> Username: </label> <br>
                    <input name = "user" id="user" type="text" autocomplete="username" aria-required="true" 
                            aria-invalid="false" autofocus = "autofocus" size="30" name="user" class = "border bg-nearwhite">
                    <br>
                    <br>
                    
                    <label for="pw1" class = "text-left text-nearwhite"> Password: </label> <br>
                    <input name = "pw1" id="pw1" type = "password" autocomplete="current-password" 
                        aria-required="true" aria-invalid="false" autofocus = "autofocus" size="30" name = "pw1" class = "border bg-nearwhite">                
                    <br>
                    <br>
                        <label for="pw2" class = "text-left text-nearwhite"> Reenter Password: </label> <br>
                    <input name = "pw2" id="pw" type = "password" autocomplete="current-password"  
                        aria-required="true" aria-invalid="false" autofocus = "autofocus" size="30" name = "pw" class = "border bg-nearwhite">
                    <br>
                    <br>
                    <input type = "checkbox" id = "rme" name = "rme">
                    <label for="rme" class = "text-nearwhite"> Remember me </label>
                    <br>
                    <span id = "field-error"> </span>
                    <br>
                    <button
                        id="log"
                        type="submit"
                        class="button cursor-pointer items-center mx-1 rounded-2xl bg-nearwhite hover:bg-midgray shadow-black text-primary
                        p-5 text-1xl" 
                    >
                        Continue
                    </button>
                    <br>
                    <h5 class = "text-xs pt-5 text-nearwhite"> Already registered? Login <a href = "/login"> here. </a></h5>
                </div>
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/register.js') }}"></script>   
    </body>
</html>