{% extends "loggedout/log-out-layout.html" %} {% block content %}
<main>
  <section class="flex flex-col py-8 px-5">
    <h1 class="text-3xl font-bold sm:block">Contact Us</h1>
    <br />
    <p class="block">
      Currently the only way to contact us is via. the github repository for
      this website.
    </p>
    <br />
    <h1 class="text-2xl block font-semibold">
      For any issues encountered or support needed, please use the official
      Github repo's issues tab.
    </h1>
    <div class="py-5">
      <a
        class="btn-primary"
        href="https://github.com/stoveup/AgileWeb2026/issues"
      >
        Issues
      </a>
    </div>
  </section>
</main>
{% endblock %}
