{% extends "loggedout/log-out-layout.html" %}
{% block content %}
  <main>
    <section class="section-layout py-8 px-5">
      <div class="container-layout">
        <div class="container-spacing flex-col items-baseline space-y-4">
          <h1 class="h1 sm:block mb-10">Frequently Asked Questions</h1>

          <div>
            <h2 class="h2">No questions yet</h2>
            <p class="block">
              We haven't received any questions yet, but feel free to reach out to us through the Contact Us page if you have any inquiries or need assistance!
            </p>
          </div>

          
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
