{% extends "loggedout/log-out-layout.html" %} {% block content %}
<main>
  <section class="flex flex-col py-8 px-5">
    <h1 class="text-3xl font-bold sm:block">Frequently Asked Questions</h1>
    <br />
    <h1 class="text-2xl block font-semibold">
      Why is registration not working?
    </h1>
    <br />
    <p class="block">
      Currently registration has not been implemented, but is planned for the
      future. Stay tune!
    </p>
    <br />
    <h1 class="text-2xl block font-semibold">
      Why don't the timetables show when uploading iCal links for other users?
    </h1>
    <br />
    <p class="block">
      Authentication has not been implemented so there is no current way to
      change timetables based on user. Stay tune!
    </p>
    <br />
    <h1 class="text-2xl block font-semibold">
      Why don't the timetables show when uploading iCal links for other users?
    </h1>
    <br />
    <p class="block">
      Authentication has not been implemented so there is no current way to
      change timetables based on user. Stay tune!
    </p>
  </section>
</main>

{% endblock %}
