{% extends "loggedout/log-out-layout.html" %}
{% block content %}
  <main>
    <section class="section-layout py-8 px-5">
      <div class="container-layout">
        <div class="container-spacing flex-col items-baseline space-y-4">
          <h1 class="h1 sm:block mb-10">Frequently Asked Questions</h1>

          <div>
            <h2 class="h2">Why is registration not working?</h2>
            <p class="block">
              Currently registration has not been implemented, but is planned
              for the future. Stay tune!
            </p>
          </div>

          <br />

          <div>
            <h2 class="h2">
              Why don't the timetables show when uploading iCal links for other
              users?
            </h2>
            <p class="block">
              Authentication has not been implemented so there is no current way
              to change timetables based on user. Stay tune!
            </p>
          </div>

          <br />

          <div>
            <h2 class="h2">
              Why don't the timetables show when uploading iCal links for other
              users?
            </h2>
            <p class="block">
              Authentication has not been implemented so there is no current way
              to change timetables based on user. Stay tune!
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
