{% extends "loggedout/log-out-layout.html" %} {% block content %}
<body>
  <br />
  <div
    class="antialiased mx-auto bg-white flex items-center justify-center text-center"
  >
    <form
      id="login"
      novalidate="novalidate"
      class="bg-primary p-6 m-6 border-8 rounded-3xl border-primary drop-shadow-2xl shadow"
    >
      <div>
        <a
          href="{{ url_for('loggedout.home') }}"
          class="-m-1 text-2xl text-nearwhite mx-auto"
        >
          <strong>CAS</strong>ync
        </a>
        <br />
        <br />
      </div>
      <div>
        <label for="user" class="text-left text-nearwhite">Username:</label>
        <br />
        <input
          id="user"
          name="user"
          type="text"
          autocomplete="username"
          aria-required="true"
          aria-invalid="false"
          autofocus="autofocus"
          size="30"
          name="user"
          class="border bg-nearwhite"
        />
        <br />
        <br />
        <br />
        <label for="pw" class="text-left text-nearwhite">Password:</label>
        <br />
        <input
          id="pw"
          name="pw"
          type="password"
          autocomplete="current-password"
          aria-required="true"
          aria-invalid="false"
          autofocus="autofocus"
          size="30"
          name="pw"
          required
          class="border bg-nearwhite"
        />
        <br />
        <br />
        <input type="checkbox" id="rme" name="rme" />
        <label for="rme" class="text-nearwhite"> Remember me </label>
        <br />
        <span id="field-error"> </span>
        <br />
        <button id="log" type="submit" class="button cursor-pointer btn-white">
          Continue
        </button>

        <br />
        <h5 class="text-nearwhite text-xs pt-5">
          Not a member yet? Register
          <a href="{{ url_for('loggedout.register') }}" class="underline"> here. </a>
        </h5>
      </div>
    </form>
  </div>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
{% endblock %}
