{% extends "loggedout/log-out-layout.html" %} {% block content %}
<body>
  <br />
  <div
    class="antialiased mx-auto bg-white flex max-w-2.5 items-center justify-center text-center"
  >
    <form
      id="login"
      method="POST"
      action="{{ url_for('loggedout.login') }}"
      class="bg-primary p-6 m-6 border-8 rounded-3xl border-primary drop-shadow-2xl shadow"
    >
      {{ form.hidden_tag() }}
      <div>
        <a
          href="{{ url_for('loggedout.home') }}"
          class="-m-1 text-2xl text-nearwhite mx-auto"
        >
          <strong>CAS</strong>ync
        </a>
        <br />
        <br />
      </div>
      <div>
        <label for="username" class="text-left text-nearwhite">Username:</label>
        <br />
        <input
          id="username"
          name="username"
          type="text"
          autocomplete="username"
          aria-required="true"
          autofocus="autofocus"
          size="30"
          value="{{ form.username.data or '' }}"
          class="border bg-nearwhite"
        />
        <br />
        <br />
        <br />
        <label for="password" class="text-left text-nearwhite">Password:</label>
        <br />
        <input
          id="password"
          name="password"
          type="password"
          autocomplete="current-password"
          aria-required="true"
          size="30"
          required
          class="border bg-nearwhite"
        />
        <br />
        <br />
        <input type="checkbox" id="rme" name="rme" />
        <label for="rme" class="text-nearwhite"> Remember me </label>
        <br />
        {% with messages = get_flashed_messages(with_categories=true) %} {% for
        category, message in messages %}
        <p class="text-green-400 text-sm mt-1">{{ message }}</p>
        {% endfor %} {% endwith %} {% if form.errors %} {% for field, errors in
        form.errors.items() %} {% for error in errors %}
        <p class="text-red-400 text-sm mt-1">{{ error }}</p>
        {% endfor %} {% endfor %} {% endif %}
        <br />
        <button id="log" type="submit" class="button cursor-pointer btn-white">
          Continue
        </button>
        <br />
        <h5 class="text-nearwhite text-xs pt-5">
          Not a member yet? Register
          <a href="{{ url_for('loggedout.register') }}" class="underline">
            here.
          </a>
        </h5>
      </div>
    </form>
  </div>
</body>
{% endblock %}
