{% extends "loggedout/log-out-layout.html" %}
{% block content %}
  <body>
    <div class="antialiased h-full flex items-center justify-center bg-white w-full">
      <form
        id="login"
        method="POST"
        action="{{ url_for('loggedout.login') }}"
        class="card-form"
      >
        {{ form.hidden_tag() }}
        <legend
          class="-m-1 text-2xl text-nearwhite mx-auto font-medium text-center"
        >
          LOGIN
        </legend>
        <br />
        <div>
          <label for="username" class="text-left text-nearwhite font-medium"
            >Username:</label
          >
          <br />
          <div>
            <input
              id="username"
              name="username"
              type="text"
              autocomplete="username"
              aria-required="true"
              autofocus="autofocus"
              size="30"
              value="{{ form.username.data or '' }}"
              class="input-box"
            />
          </div>
          <br />
          <br />
          <label for="password" class="text-left text-nearwhite font-medium"
            >Password:</label
          >
          <br />
          <input
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            aria-required="true"
            size="30"
            required
            class="input-box"
          />
          <br />
          <br />
          <input type="checkbox" id="rme" name="rme" />
          <label for="rme" class="text-nearwhite"> Remember me </label>
          <br />
          {% with messages = get_flashed_messages(with_categories=true) %}{%
            for
            category, message in messages
          %}
            <p class="text-green-400 text-sm mt-1">{{ message }}</p>
          {% endfor %}{% endwith %}
          {% if form.errors %}{%
            for field, errors in
            form.errors.items()
          %}
            {% for error in errors %}
              <p class="text-red-400 text-sm mt-1">{{ error }}</p>
            {% endfor %}
          {% endfor %}{% endif %}
          <br />
          <div class="flex justify-center">
            <button
              id="log"
              type="submit"
              class="button cursor-pointer btn-white px-12"
            >
              Login
            </button>
          </div>
          <h5 class="text-nearwhite text-xs pt-5 text-center">
            Not a member yet? Register
            <a href="{{ url_for('loggedout.register') }}" class="underline">
              here.
            </a>
          </h5>
        </div>
      </form>
    </div>
  </body>
{% endblock %}
