{% extends "loggedout/log-out-layout.html" %}
{% block content %}
  <body>
    <div
      class="antialiased h-full flex items-center justify-center bg-white w-full"
    >
      <form
        id="resend-confirmation"
        method="POST"
        action="{{ url_for('loggedout.resend_confirmation') }}"
        class="card-form"
      >
        {{ form.hidden_tag() }}
        <legend
          class="-m-1 text-2xl text-nearwhite mx-auto font-medium text-center"
        >
          RESEND CONFIRMATION
        </legend>
        <br />
        <div>
          <label for="email" class="text-left text-nearwhite font-medium"
            >Email:</label
          >
          <br />
          <div>
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              aria-required="true"
              autofocus="autofocus"
              size="30"
              value="{{ form.email.data or '' }}"
              class="input-box"
            />
          </div>
          <br />
          <br />
          {% with messages = get_flashed_messages(with_categories=true) %}{%
            for
            category, message in messages
          %}
            <p
              id="msg"
              class="{{ 'text-red-600' if category == 'error' else 'text-green-600' }} text-sm mt-1"
              style="width:0;min-width:100%"
            >
              {{ message }}
            </p>
          {% endfor %}{% endwith %}
          {% if form.errors %}{%
            for field, errors in
            form.errors.items()
          %}
            {% for error in errors %}
              <p class="text-red-400 text-sm mt-1" style="width:0;min-width:100%">{{ error }}</p>
            {% endfor %}
          {% endfor %}{% endif %}
          <br />
          <div class="flex justify-center">
            <button
              id="resend-confirm"
              type="submit"
              class="button cursor-pointer btn-white px-12"
            >
              Resend Confirmation Email
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
{% endblock %}
