<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>CASync</title>
        <!-- Tailwind CSS-->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/output.css') }}"
        />
        <!-- Temporary link to output.css and js  to allow for individual work on html for now, to remove pre-pull req-->
        <link rel = "stylesheet" href="../../static/css/output.css"> 

        <!-- Icons from Liam -->
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        />

        <!-- JQuery CDN, in case anyone wants to use JQuery -->
         <script
          src="https://code.jquery.com/jquery-4.0.0.js"
          integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U="
          crossorigin="anonymous"
        ></script>

        <!-- Additional CSS goes here-->
    </head>
    <body>
        
    </body>
</html>